<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.uwuaosp.translations.systemui.overlay">
    <overlay
        android:targetPackage="com.android.systemui"
        android:isStatic="true"
        android:priority="100" />
</manifest>
